<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673059035521-7jhplak26g6ii2bno259t90tpuqm69g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673059035521-7jhplak26g6ii2bno259t90tpuqm69g6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>673059035521-24u1g554st1ov0av11ptanj9g3ega5t5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwdRVyhcVC3xkqps-qqiBS2OSeGXhpBxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>673059035521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.almendra</string>
	<key>PROJECT_ID</key>
	<string>almendra-a411d</string>
	<key>STORAGE_BUCKET</key>
	<string>almendra-a411d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673059035521:ios:f3fd84296a27b937e47080</string>
	<key>DATABASE_URL</key>
	<string>https://almendra-a411d-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>